body {
	text-align:center;
	margin:auto;
}

.site {
	padding-top:20px;
	padding-bottom:-10px;
}

.site img {
	margin: 2px;
	margin-left:10px;
	width: 10px;
	height: 10px;
	border: none;
	outline: none;	
}
